// app global css
/* width */

// [romi-scrollbar-style]::-webkit-scrollbar {
//   width: 8px;
// }

// /* Track */
// [romi-scrollbar-style]::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }

// /* Handle */
// [romi-scrollbar-style]::-webkit-scrollbar-thumb {
//   background: rgb(180, 180, 180); 
// }

// /* Handle on hover */
// [romi-scrollbar-style]::-webkit-scrollbar-thumb:hover {
//   background: rgb(160, 160, 160); 
// }


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160); 
}